@font-face { font-family: gagalin; src: url(../fonts/gagalin-regular.woff) format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: lifehack; src: url(../fonts/lifehack-medium.woff) format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: ubuntu; src: url(../fonts/ubuntu-light.woff) format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: ubuntu; src: url(../fonts/ubuntu-regular.woff) format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: ubuntu; src: url(../fonts/ubuntu-medium.woff) format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: ubuntu; src: url(../fonts/ubuntu-bold.woff) format("woff"); font-weight: 900; font-style: normal; }

/*asus zenfone 2 laser ze550kl 1280x720 5.5` */
* { box-sizing: border-box; }

html { width: 100vw; height: 100vh; overflow-x: hidden; }

body { width: 100vw; height: 100vh; margin: 0; background-color: #fff; }

div, section, article, header, aside, nav, main, form, footer { display: flex; flex-shrink: 0; }

btn-f { display: flex; flex-shrink: 0; min-height: 45px; min-width: 45px; cursor: pointer; }

h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: inherit; }

.page { width: 100vw; min-width: 320px; height: 100vh; min-height: 320px; overflow: hidden; }

.page-1 { background: url(../img/bg/bg-1.jpg) center center no-repeat; background-size: cover; justify-content: center; align-items: center; }

.page-2 { background: url(../img/bg/bg-2.jpg) center center no-repeat; background-size: cover; justify-content: center; }

.page-3 { background: url(../img/bg/bg-3.jpg) center center no-repeat; background-size: cover; justify-content: center; }

.page-4 { background: url(../img/bg/bg-4.jpg) center center no-repeat; background-size: cover; justify-content: flex-end; }

.page-5 { background: url(../img/bg/bg-5.jpg) center center no-repeat; background-size: cover; justify-content: space-between; }

.page-7 { background: url(../img/bg/bg-7.jpg) center center no-repeat; background-size: cover; justify-content: center; }

.page-1__container { width: 96%; max-width: 940px; height: 96%; flex-direction: column; justify-content: space-between; }

.header { height: 15%; z-index: 10; justify-content: flex-end; align-items: center; background-color: rgba(200, 200, 200, 0.3); }

.logo { height: 100%; margin-right: auto; background-color: rgba(200, 200, 200, 0.3); }

.logo img { max-height: 100%; }

@media (max-width: 800px) { .nav { display: none; } }

.nav__div { align-items: center; }

.nav__div::after { width: 4px; height: 4px; border-radius: 50%; background-color: #fff; content: ""; }

.nav__div:last-child::after { display: none; }

.nav__btn { justify-content: center; align-items: center; padding: 0 16px; font-family: ubuntu; font-size: 13px; color: #fff; font-weight: 700; }

.nav__btn:hover { background-color: rgba(200, 200, 200, 0.5); }

.order { border-radius: 5px; justify-content: center; align-items: center; padding: 0 16px; margin-left: 4px; background-color: #e45028; font-family: ubuntu; font-size: 13px; color: #fff; font-weight: 700; }

.order:hover { background-color: #c1401e; }

.drop-down-menu__btn { justify-content: center; align-items: center; margin-left: 12px; }

@media (min-width: 801px) { .drop-down-menu__btn { display: none; } }

.drop-down-menu__btn:hover { background-color: rgba(200, 200, 200, 0.5); }

.welcome { height: 71%; justify-content: center; align-items: center; background-color: rgba(200, 200, 200, 0.3); }

@media (orientation: portrait) { .welcome { flex-direction: column; } }

.welcome__img { width: 50%; justify-content: center; align-items: center; }

.welcome__img img { width: 100%; }

.welcome__text { width: 50%; flex-direction: column; padding-left: 10px; font-family: lifehack; font-size: 65px; color: #fff; }

.welcome__text h1 { font-family: gagalin; font-size: 72px; color: #f9b43b; }

.page-1__footer { height: 10%; justify-content: center; align-self: center; z-index: 10; background-color: rgba(200, 200, 200, 0.3); }

.arrow-down { justify-content: center; align-self: center; background-color: rgba(200, 200, 200, 0.3); }

.page-2__container { width: 94%; max-width: 940px; flex-direction: column; justify-content: center; align-items: center; }

.page-2__container h1 { margin-bottom: 85px; font-family: gagalin; font-size: 72px; color: #2f3234; }

.about__list { justify-content: space-between; }

.about__item { flex-basis: 50%; flex-direction: column; align-items: center; }

.about__img { width: 100px; height: 100px; justify-content: center; align-items: center; overflow: hidden; }

.about__text { flex-direction: column; text-align: center; font-family: ubuntu; font-size: 14px; color: #2f3234; font-weight: 300; }

.about__text h3 { font-family: lifehack; font-size: 24px; color: #2f3234; }

.page-3__container { width: 94%; max-width: 940px; align-items: center; overflow: hidden; }

.arrow-left, .arrow-right { align-self: center; margin: 16px; }

.burgers__content { position: relative; left: 0px; }

.burgers__item { position: relative; width: 940px; height: 500px; flex-direction: row; justify-content: center; align-items: center; }

.burgers__img { width: 50%; justify-content: center; align-items: center; }

.burgers__img img { width: 100%; }

.burgers__text { flex-direction: column; width: 50%; text-align: left; font-family: ubuntu; font-size: 14px; color: #fff; font-weight: 300; }

.burgers__text h1 { font-family: gagalin; font-size: 72px; color: #fff; }

.burgers__price { align-items: baseline; }

.burgers__price-value { font-family: gagalin; font-size: 72px; color: #e35028; }

.burgers__price-units { font-family: gagalin; font-size: 30px; color: #e35028; margin-right: auto; }

.structure { position: absolute; left: 0; top: 0; }

.structure__btn { width: 90px; height: 90px; border-radius: 5px; flex-direction: column; justify-content: center; align-items: center; background-color: rgba(227, 80, 40, 0.4); }

.structure__btn span { font-family: gagalin; font-size: 14px; color: #fff; }

.structure__btn:hover { background-color: #e35028; }

.structure__btn:hover + .structure__list { display: table; }

.structure__list { display: none; position: absolute; left: 90px; top: 0; border-radius: 5px; background-color: rgba(255, 255, 255, 0.9); padding: 7px 10px 7px 0; border-spacing: 10px 3px; }

.structure__list tr { height: 50px; vertical-align: middle; }

.structure__list td:first-child { min-width: 70px; text-align: center; }

.structure__list td:nth-child(2) { min-width: 100px; font-family: ubuntu; font-size: 14px; color: #2f3234; font-weight: 700; }

.structure__list td:last-child { min-width: 50px; text-align: right; font-family: ubuntu; font-size: 14px; color: #2f3234; font-weight: 300; }

.burgers__energy { position: absolute; left: 0; bottom: 0; flex-direction: column; opacity: 0.5; }

.burgers__energy-value { position: absolute; top: 27px; width: 100%; text-align: center; font-family: gagalin; font-size: 20px; color: #fff; }

.burgers__energy-units { font-family: gagalin; font-size: 14px; color: #fff; text-align: center; }

.page-4__container { width: 50%; background-color: rgba(47, 50, 52, 0.93); }

.team__content { width: 470px; flex-direction: column; padding-left: 80px; }

.team__title { flex-basis: 35vh; flex-shrink: 0; min-height: 120px; padding-bottom: 5vh; align-items: flex-end; font-family: gagalin; font-size: 72px; color: #f9b43b; }

.team__list { flex-direction: column; flex-shrink: 0; }

.team__member { flex-direction: column; }

.member__name { align-self: flex-start; align-items: center; margin-top: 35px; font-family: gagalin; font-size: 14px; color: #fff; }

.member__name::before { width: 9px; height: 6px; content: ""; background: url(../img/icons/trigon-down.svg) center center no-repeat; margin-right: 10px; }

.member__name:hover { color: #f9b43b; }

.member__name:hover::before { transform: rotate(180deg); }

.member__name:hover + .member__about { height: 100%; }

.member__about { height: 0; overflow: hidden; align-items: center; }

.member__avatar { width: 100px; height: 100px; border-radius: 50%; margin: 15px 20px 0 15px; flex-shrink: 0; overflow: hidden; justify-content: center; align-items: center; background-color: #fff; }

.member__text { flex-direction: column; font-family: ubuntu; font-size: 14px; color: #fff; font-weight: 300; }

.member__text h3 { font-weight: 900; }

.menu__title { flex-basis: 25%; padding: 25vh 5vw 0 0; justify-content: flex-end; font-family: gagalin; font-size: 72px; color: #fff; }

.menu__list { display: flex; flex-basis: 75%; justify-content: flex-end; }

.menu__banner { display: flex; width: 5vw; min-width: 80px; padding-bottom: 5vh; justify-content: center; }

.menu__banner div { writing-mode: vertical-rl; transform: rotate(180deg); font-family: gagalin; font-size: 40px; color: #fff; max-width: 1em; }

.menu__banner:hover div { color: #f9b43b; }

.menu__banner:hover + .menu__text { width: 50vw; min-width: 540px; padding: 5vh 5vw; }

.menu__banner-1 { background: url(../img/bg/bg-5-1.jpg) center center no-repeat; background-size: cover; }

.menu__banner-2 { background: url(../img/bg/bg-5-2.jpg) center center no-repeat; background-size: cover; }

.menu__banner-3 { background: url(../img/bg/bg-5-3.jpg) center center no-repeat; background-size: cover; }

.menu__text { width: 0px; overflow: hidden; background: rgba(47, 50, 52, 0.93); font-family: ubuntu; font-size: 14px; color: #fff; font-weight: 300; }

.page-7__container { width: 94%; max-width: 940px; }
