.page-2__container
	background-color: rgba(200,200,200,0.6)
	width: 94%
	max-width: 940px
	height: 96%
	flex-direction: column
	justify-content: space-evenly
	h1
		text-align: center
		@include gagalin(7.66vmax, #2f3234) //9
		@include max-w
			@include gagalin(72px, #2f3234)

.about__list
	flex-direction: column
	justify-content: space-between
	@include horizontal
		flex-direction: row

.about__item
	justify-content: space-between
	align-items: center
	margin-top: 5%
	@include horizontal
		flex-direction: column
		justify-content: flex-start
		width: 32%
		margin-top: 0

.about__img
	width: 28%
	height: 100px
	justify-content: center
	align-items: center
	@include horizontal
		width: 100px

.about__text
	width: 70%
	flex-direction: column
	text-align: left
	@include ubuntu(1.49vmax, #2f3234, 300) //1.75
	h3
		@include lifehack(2.55vmax, #2f3234) //3
	@include horizontal
		width: 100%
		text-align: center
	@include max-w
		@include ubuntu(14px, #2f3234, 300)
		h3
			@include lifehack(24px, #2f3234)
