.page-1__container
	width: 96%
	max-width: 940px
	height: 96%
	flex-direction: column
	justify-content: space-between

.header
	height: 15%
	z-index: 10
	justify-content: flex-end
	align-items: center
	background-color: rgba(200,200,200,0.3)

.logo
	height: 100%
	margin-right: auto
	background-color: rgba(200,200,200,0.3)
	img
		max-height: 100%

.nav
	@media (max-width: 800px)
		display: none
	&__div
		align-items: center
		&::after
			width: 4px
			height: 4px
			border-radius: 50%
			background-color: #fff
			content: ""
		&:last-child::after
			display: none
	&__btn
		justify-content: center
		align-items: center
		padding: 0 16px
		@include ubuntu(13px, #fff, 700)
		&:hover
			background-color: rgba(200,200,200,0.5)

.order
	border-radius: 5px
	justify-content: center
	align-items: center
	padding: 0 16px
	margin-left: 4px
	background-color: #e45028
	@include ubuntu(13px, #fff, 700)
	&:hover
		background-color: #c1401e

.drop-down-menu__btn
	justify-content: center
	align-items: center
	margin-left: 12px
	@media (min-width: 801px)
		display: none
	&:hover
		background-color: rgba(200,200,200,0.5)

.welcome
	height: 71%
	justify-content: center
	align-items: center
	background-color: rgba(200,200,200,0.3)
	@media (orientation: portrait)
		flex-direction: column

.welcome__img
	width: 50%
	justify-content: center
	align-items: center
	img
		width: 100%

.welcome__text
	width: 50%
	flex-direction: column
	padding-left: 10px
	@include lifehack(65px, #fff)
	h1
		@include gagalin(72px, #f9b43b)

.page-1__footer
	height: 10%
	justify-content: center
	align-self: center
	z-index: 10
	background-color: rgba(200,200,200,0.3)

.arrow-down
	justify-content: center
	align-self: center
	background-color: rgba(200,200,200,0.3)

