.page-2__container
	width: 94%
	max-width: 940px
	flex-direction: column
	justify-content: center
	align-items: center
	h1
		margin-bottom: 85px
		@include gagalin(72px, #2f3234)

.about__list
	justify-content: space-between

.about__item
	flex-basis: 50%
	flex-direction: column
	align-items: center

.about__img
	width: 100px
	height: 100px
	justify-content: center
	align-items: center
	overflow: hidden

.about__text
	flex-direction: column
	text-align: center
	@include ubuntu(14px, #2f3234, 300)
	h3
		@include lifehack(24px, #2f3234)
